@charset "UTF-8";
/*
	Theme: mindfree
	Author: Daniel Jähnichen
	Version: 0.1
*/
/* ---------- reset & import ---------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Slab:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- general settings ---------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

a {
  color: #ff9900;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #ffd699;
}

/* ---------- typography ---------- */
h1, h2, h3, header h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  color: #ff9900;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 1.7rem;
}
@media screen and (min-width: 64em) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.45rem;
}
@media screen and (min-width: 64em) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.2rem;
}

/* ---------- header ---------- */
header {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #222222;
  text-align: center;
}
header h2 {
  font-size: 1.5em;
  color: white;
}
@media screen and (min-width: 64em) {
  header h2 {
    font-size: 2em;
  }
}
header p {
  color: #555555;
  text-transform: uppercase;
}
@media screen and (min-width: 48em) {
  header {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 64em) {
  header {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* ---------- content ----------  */
#posts {
  margin-bottom: 20px;
}
@media screen and (min-width: 48em) {
  #posts {
    margin-top: 50px;
  }
}

.post {
  line-height: 1.6em;
  padding-top: 50px;
  padding-bottom: 50px;
}
.post p {
  padding-bottom: 20px;
}
.post p:last-child {
  padding-bottom: 0;
}
.post.photo img {
  max-width: 100%;
  margin: 0 auto 30px;
  display: inherit;
}
.post.quote {
  background-color: #ff9900;
  color: white;
}
.post.quote .quoteAuthor {
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 48em) {
  .post.quote .quoteAuthor {
    text-align: right;
  }
}
.post.quote .quoteAuthor span:before {
  content: '- ';
}
.post.quote .quoteAuthor span:after {
  content: ' -';
}
.post.quote a, .post.quote #meta {
  color: rgba(255, 255, 255, 0.6);
}
.post.quote a:hover {
  color: white;
}
.post:hover #meta {
  opacity: 1;
}

#meta {
  color: #888888;
  margin-top: 30px;
  font-size: 0.8em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 48em) {
  #meta {
    opacity: 0;
  }
  #meta .columns:nth-of-type(2) {
    text-align: right;
  }
}
#meta .date {
  margin-right: 20px;
}

/* ---------- footer ---------- */
footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 0.8em;
}
footer nav.footerNav {
  margin-bottom: 30px;
}
footer nav.footerNav li {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 48em) {
  footer nav.footerNav li {
    display: inline;
  }
}
footer p {
  color: #555555;
  font-size: .8em;
}
