/*
	Theme: mindfree
	Author: Daniel Jähnichen
	Version: 0.1
*/

/* ---------- reset & import ---------- */
@import 
'reset.scss',
'_var.scss',
'_mixins.scss',
url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Slab:400,700);

/* ---------- general settings ---------- */
*, *:before, *:after {
	@include box-sizing;
}

body {
	background-color: #e9e9e9;
	font-family: $font;
	font-size: 1em;
}

a {
	color: $color-primary;
	text-decoration: none;
	@include transition(all, .5s, ease-in-out);

	&:hover {
		color: lighten($color-primary, 10%);
	}
}

/* ---------- header ---------- */
header {
	padding: {
		top: 50px;
		bottom: 50px;
	}
	margin-bottom: 50px;
	background: $color-dark;
	text-align: center;

	& h2 {
		@include headline-style($color-bright, 1.5em);
		@media screen and (min-width: $mq-large) {
			font-size: 2em;
		}
	}

	& p {
		color: $color-bright;
	}

	@media screen and (min-width: $mq-medium) {
		padding: {
			top: 80px;
			bottom: 80px;
		}
	}

	@media screen and (min-width: $mq-large) {
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}
}

/* ---------- typography ---------- */
%headline {
	font: {
		family: $font-headline;
		weight: 100;
	}
	color: $color-primary;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
}

h1 {
	@extend %headline;
	font-size: $size-h1 - .3rem;
	
	@media screen and (min-width: $mq-large) {
		font-size: $size-h1;
	}
}
h2 {
	@extend %headline;
	font-size: $size-h2 - .3rem;

	@media screen and (min-width: $mq-large) {
		font-size: $size-h2;
	}
}
h3 {
	@extend %headline;
	font-size: $size-h3;
}

/* ---------- content ----------  */
#posts {

}
%post {
	line-height: 1.6em;
	margin-bottom: 100px;
}

.post {
	@extend %post;

	&.text {}
	&.photo {
		& img {
			max-width: 100%;
			margin: 0 auto 30px;
			display: inherit;
		}
	}
}